* {
  box-sizing: border-box;
}

html, body {
  margin: 0px;
  padding: 0px;
}

.list-inline {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.list-inline li {
  @include dis(top);
}

a {
  color: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: 0px auto;
}

.col {
  float: left;
}

.col-right {
  float: right;
}

.clearfix {
  clear: both;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.col-25 {
  width: 25%;
}

.col-33 {
  width: 33.33%;
}


/* ------ Normalize ----- */